body {
  margin: 0;
  background-color: #EBDCCB;
  font-family: 'Raleway', serif;
    color: #191B24;
}

#brandlogo {
  margin-left: -140px;
}

.navbar {
  background-color: #DAD4D7 !important;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

.navbar-brand {
  font-size: 40px;
  float: left;
}

ul {
  font-size: 20px;
}

ul:first-child{
  margin-left: 50px !important;
}

.btn {
  margin-top: 200px;
}
