body {
  margin: 0;
  background-color: #E8D6D1;
  font-family: 'Lora', serif;
  width: 100%;
}

.maintext {
  line-height: 1 !important;
  margin: 16% 15% 14% 26%;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

i.fa {
  font-size: 30px;
  padding-top: 10px;
  padding-right: 20px;
}

.maintext2 {
  font-size: 25px;
}

.maintext3 {
font-size: 20px;
}

.maintext4 {
  font-size: 20px;
}

.icons {
  height: 50%;
}
